* {
  box-sizing: border-box;
}

.App {
  background-color: #ffaa5a;
}

.banner > img {
  margin: 20px 0;
  height: 100px;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
}

.navbar > div {
  padding: 10px;
}
